body {
  font-family: Arial, sans-serif;
  background: #dfc8b0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 8px 20px rgba(27, 24, 24, 0.15);
  text-align: center;
  width: 320px;
}

h1 {
  margin-bottom: 20px;
  color:brown;
}

#display {
  font-size: 2.5em;
  margin: 20px 0;
  font-weight: bold;
  color: #1c1818;
}

.buttons {
  display:inline-block;
  justify-content: space-around;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  border:#423737;
  border-radius: 8px;
  cursor: pointer;
  background: #3f47d2;
  color: white;
  font-size: 1em;
  transition: background 0.3s;
}

button:hover {
  background: #af1e77;
}

#laps {
  list-style: none;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
  text-align: left;
}

#laps li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}
